Phi-3.1-mini-128k-instruct-Q4_K_M.gguf
medium
Phi-3.1-mini-128k-instruct
.venv
sample.wav
__pycache__
Gemma-3-4B-IT
bbb.wav
recording.wav
recording1.wav
a.mp4
recording2.wav
sagi/whisper-large-v3
sagi/whisper-small
sagi/op-whisper-large-v3-t
amdgpu-install_7.1.1.70101-1_all.deb
a.txt
qwen
mp4
whisper_models
tiny.pt
sagi/phone_blacklist.db
warning_voice.mp3
*.wav